<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/styles.css" type="text/css"/>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <title>Aplikacje mobilne, Responsywne strony www - MobiTouch</title>
    <script type="text/javascript" src="../../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/demo.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/custom.css" />
    <script type="text/javascript" src="../../js/modernizr.custom.79639.js"></script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="../../css/styleNoJS.css" />
    </noscript>

</head>

<body>

<header class="clearfix">

    <div class="b-menu-wrapper">
        <div class="b-menu-inner ">
            <div class="b-menu-inner_logo pull-left">
                <img src="../../images/logo_MobiTouch.png">
            </div>
            <ul class="col-lg-8  menu pull-right">
                <li><a href="#">Strona główna</a></li>
                <li><a href="#">Realizacje</a></li>
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Aktualności</a></li>
                <li><a href="#">Partnerzy</a></li>
                <li><a href="#">Kariera</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
        </div>

    </div>


</header>


<div class="b-carousel">
<div class="row">
    <div class="col-lg-12">
        <div id="slider" class="sl-slider-wrapper">
            <div class="sl-slider" style="width: 100% !important;">
                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                    <div class="sl-slide-inner" style="background-image: url(../../images/samples/1.jpg); background-size:cover; background-position:center;">
                        <div class="bg-img bg-img-2">
                        </div>
                        <h2>Aplikacje mobilne</h2>
                        <blockquote>
                            <p>
                                <font face="proxima_novalight">Jednym ułatwiają życie, drugim pozwalają wypromować biznes - bądź zawsze przed konkurencją w wyścigu innowacji dzięki naszym aplikacjom mobilnym!</font>
                            </p>
                            <cite><a href="pl/offer#app_mobile">Czytaj więcej</a></cite>
                        </blockquote>
                    </div>
                </div>
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="sl-slide-inner" style="background-image: url(../../images/samples/4.jpg); background-size:cover; background-position:center;">
                        <div class="bg-img bg-img-1">
                        </div>
                        <h2>Dlaczego mobilność ma znaczenie?</h2>
                        <blockquote>
                            <p>
                                <font face="proxima_novalight"><span style="line-height: 20px;">- Po 2014 roku będzie więcej wejść do internetu z urządzeń mobilnych niż z PC.</span>

                                    <span style="line-height: 20px;">- Mobilne wyszukiwania wzrosły 400% od 2010 roku.</span>

                                    <span style="line-height: 20px;">- W 2015 roku będzie tyle urządzeń mobilnych ile ludności na świecie.</span></font>

                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                    <div class="sl-slide-inner" style="background-image: url(../../images/samples/2_2.jpg); background-size:cover; background-position:center;">
                        <div class="bg-img bg-img-2">
                        </div>
                        <h2>Gry mobilne</h2>
                        <blockquote>
                            <p>
                                <font face="proxima_novalight">Gry mobilne to innowacyjna forma reklamy firm, usług czy produktów.</font>
                            </p>
                            <cite><a href="pl/offer#games_mob">Czytaj więcej</a></cite>
                        </blockquote>
                    </div>
                </div>
                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="sl-slide-inner" style="background-image: url(../../images/samples/3.jpg); background-size:cover; background-position:center;">
                        <div class="bg-img bg-img-1">
                        </div>
                        <h2>Responsywne Strony www</h2>
                        <blockquote>
                            <p>
                                <font face="proxima_novalight">"Responsive Web Design", czyli projektowanie responsywne, polega na przystosowaniu strony internetowej do wszystkich możliwych urządzeń - tak, by była schludna i czytelna, niezależnie od rozdzielczości ekranu.</font>
                            </p>
                            <cite><a href="pl/offer#resp_www">Czytaj więcej</a></cite>
                        </blockquote>
                    </div>
                </div>
                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
                    <div class="sl-slide-inner" style="background-image: url(../../images/samples/5.jpg); background-size:cover; background-position:center;">
                        <div class="bg-img bg-img-2">
                        </div>
                        <h2>Aplikacje dla systemu Windows 8</h2>
                        <blockquote>
                            <p>
                                <font face="proxima_novalight">Wykorzystaj potencjał nowej platformy oraz sklepu z aplikacjami! Zaprojektujemy, stworzymy i wdrożymy dowolne aplikacje dla najnowszego systemu firmy Microsoft!</font>
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
            <!-- /sl-slider -->
            <nav id="nav-dots" class="nav-dots">
                <span class="nav-dot-current"></span><span></span><span></span><span></span><span></span></nav>
        </div>
        <!-- /slider-wrapper -->
    </div>
</div>
</div>

<div class="row">
    <section class='section-services'>
        <div class='container'>
            <div class='row  content-wrapper'>
                <div class='col-lg-4 services-box' onClick="window.location.href='pl/technologies#Windows-Phone'" style="width:25%; float:left; cursor:pointer;">
                    <div class='services-diamond'>
                        <div class='content'></div>
                        <div class='services-icon design'></div>

                    </div>
                    <div class='bottom'>
                        <h3>Windows Phone</h3>
                    </div>
                </div>
                <div class='col-lg-4 services-box' onClick="window.location.href='pl/technologies#iOS'" style="width:25%; float:left; cursor:pointer;">
                    <div class='services-diamond'>
                        <div class='content'></div>
                        <div class='services-icon support'></div>

                    </div>
                    <div class='bottom'>
                        <h3>iOS</h3>
                    </div>
                </div>
                <div class='col-lg-4 services-box' onClick="window.location.href='pl/technologies#Android'" style="width:25%; float:left; cursor:pointer;">
                    <div class='services-diamond'>
                        <div class='content'></div>
                        <div class='services-icon coding'></div>

                    </div>
                    <div class='bottom'>
                        <h3>Android</h3>
                    </div>
                </div>
                <div class='col-lg-4 services-box' onClick="window.location.href='pl/technologies#Windows-8'" style="width:25%; float:left; cursor:pointer;">
                    <div class='services-diamond'>
                        <div class='content'></div>
                        <div class='services-icon design'></div>

                    </div>
                    <div class='bottom'>
                        <h3>Windows 8</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="b-content">
    <div class="row">
        <div class=" content-wrapper">
            <div class="b-content-post col-lg-12">
                <div class="b-content-post_header">
                    <h1 class="blueText">Witaj w MobiTouch!</h1>
                    <br>
                    <br>
                </div>
                <div class="b-content-post_text pull-left col-lg-6">
                    <b>MobiTouch</b> specjalizuje się w tworzeniu aplikacji mobilnych oraz gier.
                    <br><br>
                    Nasz zespół to połączenie pełnych pasji programistów oraz kreatywnych grafików i rysowników, wspólnie tworzących rozwiązania najwyższej jakości.  Do Twojej dyspozycji pozostają również doświadczeni konsultanci specjalizujący się w marketingu mobilnym, internetowym i social media. Wszyscy jesteśmy entuzjastami najnowszych osiągnięć technologicznych. Wspierają nas eksperci z takich dziedzin jak: socjologia, prawo, psychologia.
                    <br><br>
                    Wszystko to, by sprostać Twoim oczekiwaniom oraz zapewnić najlepsze wsparcie w rozwoju Twojego biznesu.
                </div>
                <div class="b-content-post_image col-lg-6 pull-right">
                    <img src="../../images/img_witaj.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" content-wrapper">
            <div class="b-content-post col-lg-12">
                <div class="b-content-post_header">
                    <h1 class="blueText">Ostatnia realizacja</h1>
                    <br>
                    <h2>Mr.Vintage</h2>
                </div>
                <div class="b-content-post_text pull-right col-lg-6">
                    Aplikacja Mr.Vintage jest mobilną wersją najpopularniejszego w Polsce bloga o modzie męskiej, wzbogaconą o push powiadomienia do każdego nowego wpisu, udostępnianie w mediach społecznościowych oraz możliwość dodawania najlepszych wpisów do zakładki ulubione. W ramach prac nad aplikacją mobilną przygotowaliśmy również Web service.
                </div>
                <div class="b-content-post_image col-lg-5 pull-left">
                    <img src="../../images/Realizations/600.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="content-wrapper">
            <div class="b-content-post col-lg-12">
                <div class="b-content-post_header">
                    <h1 class="blueText">Aktualności</h1>
                    <br>
                    <h2>MobiTouch na Imagine Cup 2014 - dla nas nie ma granic!</h2>
                </div>
                <div class="b-content-post_text pull-left col-lg-8">
                    Krajowe finały Imagine Cup już za nami. Do półfinałów światowych przeszły trzy polskie drużyny, po jednej z każdej kategorii: Projekty Społeczne (World Citizenship), Innowacje (Innovation) oraz Gry (Games). Naszej drużynie Mobi Games nie udało się przejść do następnego etapu. Jednak sam udział w konkursie, tak jak i zeszłego roku, był świetną okazją na zdobycie nowego doświadczenia oraz nawiązania obiecujących kontaktów biznesowych.
                        <br>
                    <br>
                    <div class="btn btn-danger">See more</div>
                </div>

                <div class="b-content-post_image col-lg-4">
                    <img src="../../images/News/mini.jpg" class="miniImg  pull-right">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="b-partners col-lg-12">
            <div class="content-wrapper">
                <div class="b-partners_header">
                    <h1 class="blueText">Partnerzy</h1>
                    <br>
                    <h2>MobiTouch na Imagine Cup 2014 - dla nas nie ma granic!</h2>
                </div>
                <div class="b-content-post_text">
                    W ramach naszej działalności współpracujemy z wieloma różnymi podmiotami przy realizacji naszych projektów. Cenimy sobie wzajemny szacunek oraz terminowość powierzonych nam zadań.
                    <br>
                </div>
                <div class="b-partners-coworking col-lg-12">


                    <div class="b-partners-coworking_elem col-lg-4">
                        <h4 class="b-partners-coworking_elem-header">WSIiZ i InnoFund</h4>
                        <br><br>
                        <span class="b-partners-coworking_elem-text">
                            InnoFund to fundusz inwestycyjny, działający przy Wyższej Szkole Informatyki i Zarządzania w Rzeszowie, posiadający udziały w MobiTouch Sp. z o.o. Ponadto współpracujemy z WSIiZ przy licznych projektach oraz przedsięwzięciach.
                        </span>
                        <img src="../../images/Cooperation/107617798d7417093c1410f835573761.png" class="b-partners-coworking_elem-img pull-right">
                    </div>

                    <div class="b-partners-coworking_elem col-lg-4 pull-right">
                        <h4 class="b-partners-coworking_elem-header">Fabryka e-biznesu</h4>
                        <br><br>
                        <span class="b-partners-coworking_elem-text">
Fabryka e-biznesu jest nowoczesną agencją kreatywną, specjalizującą się w budowaniu marki oraz dostarczaniu innowacyjnych rozwiązań. Firmowy zespół składa się z utalentowanych specjalistów, zajmujących się strategią, kreacją oraz nowoczesnymi technologiami informatycznymi.
                        </span>
                        <img src="../../images/Cooperation/f950cf73a5f601dbc1aceea9367bb4de.png" class="b-partners-coworking_elem-img pull-right">
                    </div>

                    <div class="b-partners-coworking_elem col-lg-4 col-lg-offset-3">
                        <h4 class="b-partners-coworking_elem-header">Grupa Reklamowa GreeMi</h4>
                        <br><br>
                        <span class="b-partners-coworking_elem-text">
Grupa Reklamowa GreeMi zajmuje się reklamą wizualną dla firm, organizacji i instytucji. GreeMi istnieje od 2005 roku i od samego początku specjalizuje się w kompleksowej obsłudze, której założeniem jest kreowanie wizerunku przedsiębiorstwa.
                        </span>
                        <img src="../../images/Cooperation/156005c5baf40ff51a327f1c34f2975b.jpg" class="b-partners-coworking_elem-img pull-right">
                    </div>
                </div>

        </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="../../js/jquery.ba-cond.min.js"></script>
<script type="text/javascript" src="../../js/jquery.slitslider.js"></script>
<script type="text/javascript">
    $(function() {

        var Page = (function() {

            var $navArrows = $( '#nav-arrows' ),
                    $nav = $( '#nav-dots > span' ),
                    slitslider = $( '#slider' ).slitslider( {
                        onBeforeChange : function( slide, pos ) {

                            $nav.removeClass( 'nav-dot-current' );
                            $nav.eq( pos ).addClass( 'nav-dot-current' );

                        }
                    } ),

                    init = function() {

                        initEvents();

                    },
                    initEvents = function() {

                        // add navigation events
                        $navArrows.children( ':last' ).on( 'click', function() {

                            slitslider.next();
                            return false;

                        } );

                        $navArrows.children( ':first' ).on( 'click', function() {

                            slitslider.previous();
                            return false;

                        } );

                        $nav.each( function( i ) {

                            $( this ).on( 'click', function( event ) {

                                var $dot = $( this );

                                if( !slitslider.isActive() ) {

                                    $nav.removeClass( 'nav-dot-current' );
                                    $dot.addClass( 'nav-dot-current' );

                                }

                                slitslider.jump( i + 1 );
                                return false;

                            } );

                        } );

                    };

            return { init : init };

        })();

        Page.init();

        /**
         * Notes:
         *
         * example how to add items:
         */

        /*

         var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

         // call the plugin's add method
         ss.add($items);

         */

    });
</script>
</body>
</html>