<!DOCTYPE HTML>
<html lang="pl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../assets/css/styles.css" type="text/css"/>
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <title>Aplikacje mobilne, Responsywne strony www - MobiTouch</title>
    <script type="text/javascript" src="../../js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>

</head>

<body>

<header class="clearfix">



</header>
<div class="b-menu-wrapper">

    <div class="b-menu-inner ">
        <div class="b-menu-inner_logo pull-left">
            <img src="../../images/logo_MobiTouch.png">
        </div>
        <ul class="col-lg-8  menu pull-right">
            <li><a href="#">Strona główna</a></li>
            <li><a href="#">Realizacje</a></li>
            <li><a href="#">Oferta</a></li>
            <li><a href="#">Aktualności</a></li>
            <li><a href="#">Partnerzy</a></li>
            <li><a href="#">Kariera</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>

</div>

</body>
</html>