.b-footer {
  background-image: url('../../images/blackorchid.png');
  height: auto;
  color: white;
  .b-footer-biuro_header {
      font-size: 25px;
      font-weight: bold;
  }
  .b-footer-biuro_text {
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
  }
  .b-footer-biuro_img {
    padding: 10px 15px 0 0;
  }
}

.b-belongTo {
  img {
    height: 55px;
  }
  padding-bottom: 20px;
}

.b-socials {
  .fb-social, .youtube-social {
    background: url('../../images/sprites/socials-sprite.png') no-repeat;
    width: 47px;
    height: 47px;
    display: inline-block;
    margin-top: 65px;
    &:hover {
      cursor: pointer;
    }
  }

  .fb-social {
    margin-right: 10px;
    background-position: 0 -141px;
    &:hover {
      background-position: 0 -94px;
    }
  }

  .youtube-social {
    background-position: 0 -47px;
    &:hover {
      background-position: 0 0;
    }
  }
}




