doctype html
html
    head
    link(rel='stylesheet', href='../css/styles.css', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic', rel='stylesheet', type='text/css')

    body
         div.wrapper
             div.b-banner
                 div.block.clearfix
                     div.logo
                         h1
                             a(href="#")
                                 img(src= "http://demo.s5themes.com/shortnotes/files/2012/11/logo1.png")
                             span Premium Responsive Tumblog WordPress Theme by S5themes.com


             div.b-content.block.clearfix
                div.main
                    article.img-post
                        div.postmeta
                            div.post-icon.image
                            div.meta-text Nov 23, 2012
                                br
                                img(src="http://demo.s5themes.com/shortnotes/wp-content/themes/shortnotes/library/images/ico_comments.png")
                                a(href="http://demo.s5themes.com/shortnotes/2012/11/23/image-post/#respond")    0 Comments
                        h2.entry-title Image Post
                        a(href="http://demo.s5themes.com/shortnotes/files/2012/11/ecobg.jpg").prettyPhoto
                            img(src="http://demo.s5themes.com/shortnotes/files/2012/11/ecobg.jpg")
                        div.entry-content
                            div.tags
                                strong Tags:
                                a(href="http://demo.s5themes.com/shortnotes/2012/11/23/image-post/#respond")  image



                    article.quote-post

                        div.postmeta

                            div.icon-quote.image
                            div.meta-text Nov 23, 2012

                        div.entry-content
                            h2 Elcvne commune elaboraret his, mea amet luptatum at. Modo aeterno propriae ius id. Viris definiebas reprehendunt ad eam. In mea melius commodo.
                            div.tags
                            span.quote-author ~ John Doe ~



                    article.img-post
                        div.postmeta
                            div.post-icon.image
                            div.meta-text Nov 23, 2012
                                br
                                img(src="http://demo.s5themes.com/shortnotes/wp-content/themes/shortnotes/library/images/ico_comments.png")
                                a(href="http://demo.s5themes.com/shortnotes/2012/11/23/image-post/#respond")    0 Comments
                        h2.entry-title Image Post
                        a(href="http://demo.s5themes.com/shortnotes/files/2012/11/ecobg.jpg").prettyPhoto
                            img(src="http://demo.s5themes.com/shortnotes/files/2012/11/ecobg.jpg")
                        div.entry-content
                            div.tags
                                strong Tags:
                                a(href="http://demo.s5themes.com/shortnotes/2012/11/23/image-post/#respond")  image


                    div.pagination
                        span.current 1
                        a(href="http://demo.s5themes.com/shortnotes/2012/11/23/image-post/#respond") 2
                        a(href="http://demo.s5themes.com/shortnotes/2012/11/23/image-post/#respond") >>

                aside
                    div.search
                         form.searchForm
                             input(type="text", name="s", value="type your search and hit enter")

                    div.sidebar-menu.block
                        h3 Menu
                        nav.menu-topmenu-container
                            ul.menu
                                li.menu-item Home
                                li.menu-item About
                                li.menu-item Full width page
                                li.menu-item Contact

                    div.side-widget
                        h3 Recent posts
                        ul.menu
                            li.menu-item
                                a(href="#")  Image post
                            li.menu-item
                                a(href="#")  Quote
                            li.menu-item
                                a(href="#")  Quality WordPress Hosting
                            li.menu-item
                                a(href="#")  Audio Post
                            li.menu-item
                                a(href="#")  Felix Baumgartners supersonic freefall (video embed)

                    div.side-widget
                        h3 TWITTER
                        a(href="http://demo.s5themes.com/shortnotes/2012/11/23/image-post/#respond", class="twitter-action") Follow us on Twitter >>

                    div.side-widget.last
                        h3 TAGS
                        div.tagcloud
                            a(href="#") audio
                            a(href="#") Standart post
                            a(href="#") pron
                            a(href="#") cheeze&ham
                            a(href="#") site5
                            a(href="#") ololo
                            a(href="#") BigFatTits



             div.b-footer
                div.block
                    div.copyright Copyright 2012 ololo
                        a(href="#")   SITE5.com